{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="h-40 w-screen p-4 flex justify-center">
	<div class="flex">
		<div class="text-3xl font-bold m-3 p-1 text-gray-300 justify-center shadow-gray-300">Mass Mailer</div>
	</div>
</div>
<div class="flex justify-center p-4 w-screen">	
	<form class="flex flex-col">
		<input class="p-2 w-[50rem] shadow shadow-gray-300 rounded bg-gray-700 hover:border-gray-300 text-gray-300" id="target-emails" placeholder="Enter target email addresses separated by commas..." />
		<textarea class="p-2 w-[50rem] h-40 mt-4 shadow shadow-gray-300 rounded bg-gray-700 hover:border-gray-300 text-gray-300" id="email-body" placeholder="Enter email body here..."></textarea>
		<button class="mt-4 p-2 w-32 bg-gray-700 rounded hover:bg-gray-600 text-gray-300 shadow shadow-gray-300 justify-start" id="send-emails-btn">Send Emails</button>
	</form>
</div>
{% endblock %}
